env:
  matrix:
    - CI_BUILD=cmake
    - CI_BUILD=autotools
language: cpp
compiler: gcc

before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq apt-transport-https software-properties-common
    - echo "deb https://kdudka.fedorapeople.org/csbuild precise contrib" | sudo tee -a /etc/apt/sources.list
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get update -qq

install:
    - sudo apt-get install -qq -y --force-yes automake csbuild
    - sudo apt-get install autoconf autotools-dev g++-4.8 libstdc++-4.8-dev libtool pkg-config libcunit1-dev libev-dev libevent-dev libjansson-dev libjemalloc-dev libssl-dev libxml2-dev zlib1g-dev
    - sudo bash -c 'for i in cswrap cscppc csclng; do ln -fsv ../../bin/$i /usr/lib/$i/gcc-4.8; done'
    - sudo bash -c 'for i in cswrap cscppc csclng++; do ln -fsv ../../bin/$i /usr/lib/${i/++/}/g++-4.8; done'

before_script:
    - export CC="gcc-4.8"
    - export CXX="g++-4.8"

script:
    - autoreconf -fiv && ./configure
    - test -z "$TRAVIS_COMMIT_RANGE" || csbuild --git-commit-range "$TRAVIS_COMMIT_RANGE" -c "make clean && make -j9" --git-bisect --print-fixed -w0
